arcade==2.1.3
attrs==19.2.0
cloudpickle==1.2.2
cycler==0.10.0
future==0.17.1
gridworld==0.1
gym==0.14.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.2
Pillow==9.0.1
pyglet==1.4.4
pyglet-ffmpeg2==0.1.15
pyparsing==2.4.2
python-dateutil==2.8.0
pytiled-parser==0.9.0
scipy==1.3.1
six==1.12.0
torch==1.2.0
torchvision==0.4.0
